.row{
    width: 1000px;
    height: 500px;
    margin: auto;
}
.column{
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 500px;
    float: left;
    margin-left: 40px;
}
.yellow{
    background-color: #ffff00;
}
.orange{
    background-color: #ff8000;
}
.green{
    background-color: #ccff99;
}
.blue{
    background-color: #33ccff;
}